################################################################################
#
# Custom
#
################################################################################
/public/bower_components
npm-debug.log

################################################################################
#
# Laravel default
#
################################################################################
/node_modules
/public/storage
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
